<template>
  <header>
    <img alt="Vue logo" class="logo" src="./assets/logo.png" width="125" height="125"/>

    <div class="wrapper">
      <HelloWorld msg="Você conseguiu!"/>
    </div>
  </header>

  <main class="cardContainer">
    <v-container>

      <v-row align="center" justify="center">
        <v-btn 
          class="addButton" 
          v-if="!createStudent" 
          @click="toggleCreateStudent()">
            Cadastrar aluno
        </v-btn>
        <FormCreateStudent 
          v-if="createStudent" 
          @cancelOperation="toggleCreateStudent"
          @refreshStudents="getStudents"
        />
      </v-row>

      <v-row align="center" justify="center">
        <v-col v-for="(student, i) in students" :key="i" cols="auto">
          <StudentCard :student="student" @refreshStudents="getStudents"/>
        </v-col>
      </v-row>
    </v-container>
    
  </main>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import StudentCard from './components/StudentCard.vue'
import FormCreateStudent from './components/FormCreateStudent.vue'
import {getAllStudents, createStudent} from "@/services/students.js";

export default {
  components: {
    HelloWorld,
    StudentCard,
    FormCreateStudent
  },
  created() {
    this.getStudents()
  },
  data() {
    return {
      students: [],
      createStudent: false,
    }
  },
  methods: {
    async getStudents() {
      const students = await getAllStudents();

      this.students = students
    },
    toggleCreateStudent() {
      this.createStudent = !this.createStudent;
    },
  },
}
</script>

<style scoped>
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

.addButton {
    background-color: green;
    color: rgb(232, 230, 227);
    margin-top: 35px;
    margin-bottom: 35px;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  .cardContainer {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
</style>
