<template>
    <v-card>

        <v-card-title align="center" justify="center">
            Cadastro de aluno
        </v-card-title>

        <v-card-item>
            <v-text-field v-model="newStudent.nome" label="Nome" />
            <v-text-field v-model="newStudent.matricula" label="Matricula" />
            <v-text-field v-model="newStudent.hobbies" label="Hobbies" />
        </v-card-item>

        <v-card-actions class="buttons" >
            <v-btn class="saveButton" @click="createStudent">salvar</v-btn>
            <v-btn class="cancelButton" @click="$emit('cancelOperation')">cancelar</v-btn>
        </v-card-actions>

    </v-card>
     
</template>

<script>
import {createStudent} from "@/services/students.js";
import { VCardTitle } from "vuetify/lib/components/index.mjs";

export default {
    data() {
        return {
            newStudent: {
                matricula: "",
                name: "",
                hobbies: ""
            },
        };
    },
    methods: {
        async createStudent() {
            await createStudent(this.newStudent);
            this.$emit('cancelOperation');
            this.$emit("refreshStudents");
        },
    },
    components: { VCardTitle }
}

</script>

<style scoped>
.v-card {
  min-width: 344px;
  background-color: rgb(53, 53, 58);
  color: rgb(232, 230, 227);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.saveButton {
  background-color: green;
}

.cancelButton {
  background-color: red;
}
</style>