<template>
  <v-card v-if="!editMode">
    <v-card-item>
      <div>
        <v-card-title
          >{{ student?.nome }} - {{ student?.matricula }}</v-card-title
        >
        <v-card-subtitle>{{ student?.situacaoMatricula.nome }}</v-card-subtitle>
        <v-card-subtitle>Meus Hobbies</v-card-subtitle>
        <v-card-text>{{ student?.hobbies }}</v-card-text>
      </div>
    </v-card-item>

    <v-card-actions class="buttons">
      <v-btn class="editButton" @click="toggleEditStudent">editar</v-btn>
      <v-btn class="deleteButton" @click="deleteStudent">deletar</v-btn>
    </v-card-actions>
  </v-card>

  <v-card v-if="editMode">
    <v-card-item>
      <v-text-field v-model="updatedStudent.nome" label="Nome" />
      <v-text-field v-model="updatedStudent.matricula" label="Matricula" />
      <v-text-field v-model="updatedStudent.hobbies" label="Hobbies" />
    </v-card-item>

    <v-card-actions class="buttons">
      <v-btn class="editButton" @click="saveStudent">salvar</v-btn>
      <v-btn class="cancelButton" @click="toggleEditStudent">cancelar</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import {
  deleteStudentByMatricula,
  createStudent,
  updateStudent
} from '@/services/students.js';

export default {
  data() {
    return {
      editMode: false,
      updatedStudent: {
				...this.$props.student,
			},
    };
  },
  props: {
    student: {
      type: Object,
      required: true,
    },
    onCancel: {
			type: Function,
			required: false,
		},
  },
  methods: {
    toggleEditStudent() {
      this.editMode = !this.editMode;
    },
    async saveStudent() {
			await updateStudent(this.student.matricula, this.updatedStudent);

			this.toggleEditStudent();
			this.cancelRegistration();
    },
    async deleteStudent() {
      await deleteStudentByMatricula(this.student.matricula);
      this.$emit('refreshStudents');
    },
    cancelRegistration() {
      typeof this.onCancel === "function" && this.onCancel();
			this.$emit("refreshStudents");
    },
  },
};
</script>

<style scoped>
.v-card {
  min-width: 344px;
  background-color: rgb(24, 26, 27);
  color: rgb(232, 230, 227);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.editButton {
  background-color: blue;
}

.deleteButton {
  background-color: red;
}

.cancelButton {
  background-color: rgb(153, 153, 0);
}
</style>
